extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/category-tree.pug
block main
  +alert-error(5000)
  if (role.permissions.includes("products_create"))
    h1(class="mb-4") Thêm mới sản phẩm
    form(action=`${prefixAdmin}/products/create`, id="form-create-product", method="POST" enctype="multipart/form-data")
      div(class="form-group mt-2")
        label(for="title") Tiêu đề
        input(class="form-control" type="text", id="title", name="title", required)

      div(class="form-group mt-2")
        label(for="product_category_id") Danh mục
        select(class="form-control" id="product_category_id" name="product_category_id")
          option(value="") -- Chọn danh mục --
          if(category)
            +category-tree(category)

      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="featured1"
          name="featured"
          value="1"
        )
        label(for="featured1" class="form-check-label") Nổi bật

      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="featured0"
          name="featured"
          value="0"
          checked
        )
        label(for="featured0" class="form-check-label") Không


      div(class="form-group mt-2")
        label(for="desc") Mô tả
        textarea(class="form-control text-editor" id="desc", name="description", rows="5")
      
      div(class="form-group mt-2")
        label(for="price") Giá
        input(class="form-control" type="number", 
              id="price", name="price", value="0", min="0")
      
      div(class="form-group mt-2")
        label(for="discount") % Giảm giá
        input(class="form-control" type="number", 
              id="discount", name="discountPercentage", value="0", min="0")

      div(class="form-group mt-2")
        label(for="stock") Số lượng
        input(class="form-control" type="number", 
              id="stock", name="stock", value="0", min="0"
              upload-image-input)
      
      div(class="form-group mt-2" style="width: 400px" upload-image)
        label(for="thumbnail") Ảnh
        input(class="form-control" type="file",   
              id="thumbnail", name="thumbnail", accept="image/*" upload-image-input)
        img(src="" class="image-preview" upload-image-preview)
      
      div(class="form-group mt-2")
        label(for="position") Vị trí
        input(class="form-control" type="number", 
              id="position", name="position", placeholder="Tự động tăng", min="1")
      
      div(class="form-group form-check form-check-inline mt-2")
        input(class="form-check-input" type="radio", 
              id="statusActive", name="status", 
              value="active", checked)
        label(for="statusActive" class="form-check-label") Hoạt động
      div(class="form-group form-check form-check-inline mt-2")
        input(class="form-check-input" type="radio", 
              id="statusInActive", name="status", 
              value="inactive", checked)
        label(for="statusInActive" class="form-check-label") Dừng hoạt động
      div(class="form-group mt-2")
        button(
          type="submit"
          class="btn btn-primary"
        ) Tạo mới
      script(src="/admin/js/product.js")