extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
  +alert-error(5000)
  if (product.title)
    h1(class="mb-4") #{product.title}

  if (product.thumbnail)
    div(class="mb-4")
      img(
        src=product.thumbnail
        style="width: 300px"
      )

  if (product.status)
    div(class="mb-4")
      span Trạng thái: 
      if (product.status === "active")
        span(class="badge badge-success") Hoạt động
      else
        span(class="badge badge-danger") Dừng hoạt động

  if (product.position)
    div(class="mb-4") Vị trí: <b>#{product.position}</b>

  if (product.description)
    div(class="mb-4") !{product.description}
  
  a(href=`${prefixAdmin}/product-category/edit/${product.id}`
    class="btn btn-warning m-2") Sửa
  a(href=`${prefixAdmin}/product-category`
    class="btn btn-info m-2") Quay lại
  script(src="/admin/js/product-category.js")
