extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
block main
  +alert-success("5000")
  +alert-error("3000")
  h1 Danh Sách Nhóm Quyền
  
  .card.mb-3
      .card-body
        //- Thay đổi trạng thái nhiều sản phầm
        .row
          .col-8
          .col-4 
            a(
              href=`${prefixAdmin}/role/create`
              class="btn btn-outline-success"
            ) + Thêm mới
        table(class="table table-hover table-sm" checkbox-multi )
          thead
            tr
              th
                input(type="checkbox" name="checkAll")
              th STT
              th Nhóm quyền 
              th Mô tả ngắn 
              th Hành động
          tbody
            each item, index in roles
              tr
                td
                  input(
                    type="checkbox"
                    name="id"
                    value=item.id
                  )
                td #{pagination.limitItem * (pagination.currentPage - 1) + (index + 1)}
                td #{item.title}
                td(style="width: 620px;") !{item.description}
                td
                  a(href=`${prefixAdmin}/role/detail/${item.id}`
                    class="btn btn-secondary btn-sm me-2") Chi tiết
                  a(href=`${prefixAdmin}/role/edit/${item.id}`
                    class="btn btn-warning btn-sm me-2") Sửa
                  button(class="btn btn-danger btn-sm ms-1" data-id=item.id button-delete-item) Xóa

  script(src="/admin/js/product.js")

