.sider
  .inner-menu.w-200
    ul
      li 
        a(href=`${prefixAdmin}/dashboard`) Tổng Quan 
      li 
        a(href=`${prefixAdmin}/product-category`) Danh mục sản phẩm
      li 
        a(href=`${prefixAdmin}/products`) Danh sách sản Phẩm
      li 
        a(href=`${prefixAdmin}/role`) Nhóm quyền
      li 
        a(href=`${prefixAdmin}/role/permissions`) Phân quyền
      li 
        a(href=`${prefixAdmin}/account`) Danh sách tài khoản
